@{
    ViewBag.Title = "About Us";
}


<div class="container-fluid">
    <div cllas="row">
        <div class="col-md-6">
            <div class="row justify-content-sm-center p-5">
                <h1>За нас</h1>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Ut ullamcorper, quam sed pulvinar pharetra, elit dolor viverra erat, 
                vel pretium erat sem nec tortor. Cras eget nulla lorem. Donec auctor, 
                mauris quis finibus consequat, augue sem malesuada nisi, eget lobortis libero 
                erat finibus ante. In dictum elit accumsan iaculis mattis. Nam maximus leo enim, 
                eget tempus purus rhoncus eget. Fusce urna diam, molestie vitae commodo in, blandit eu 
                felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Mauris elit elit, ornare tincidunt nulla quis, euismod vehicula justo. Cras semper ante erat, 
                sed efficitur velit rutrum et. Aenean mattis, eros ac feugiat vehicula, lacus libero bibendum 
                massa, ac lobortis tellus ex vel risus. Vivamus vitae aliquam nibh. Nam auctor aliquam lorem. 
                \Nunc posuere purus et ex aliquam, nec bibendum ex tincidunt. Integer ultrices, lectus in 
                accumsan pulvinar, justo nulla porttitor ipsum, ac ultricies nisi metus vel metus. Nunc rhoncus 
                mi eu sapien congue, et ultricies leo lacinia. Aliquam vitae arcu ullamcorper mi tempor semper.</p>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>