@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model List<LaywerApp.ViewModels.LawServiceCardModel>


@{
    ViewBag.Title = "Services";
}

<div class="container">
    <div class="row">
        <div class="col offset-9 mr-3 p-4">
            <div>
                <form asp-controller="Home" asp-action="LawServiceOverview" method="get" class="d-flex" style="">
                    <input class="form-control me-2" name="Title" value="" type="text" placeholder="Search by title">
                    <input class="btn btn-outline-secondary" value="Search" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success m-3" role="alert" style="width:800px">
        @ViewBag.Message
    </div>
}

<partial name="PartialLawServiceCard" for="@Model">

    @section footer{
        <partial name="PartialFooterView">
    }
