@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>

    <div class="container-fluid p-0 mt-0 backgroundImage";
         background-repeat: repeat">
        <div class=" row justify-content-between">
            <nav class="navbar navbar-expand-lg navbar-light customShadow container-fluid">
                <div class="col">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="/Home/Main">
                                <image src="https://cdn.logo.com/hotlink-ok/logo-social.png" style="width:50px; height: 50px" class="navbar-brand" />
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </li>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Home/Main">Почетна</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Home/Main/#aboutUs">За нас</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Home/Main/#articles">Новости</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Home/LawService">Услуги</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Home/Main/#collaborators">Соработници</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="#">Правни мислења</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Info/ContactUs">Контакт</a>
                                </li>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <li class="nav-item">
                                    <a class="nav-link active onHover" aria-current="page" href="/Edit/EditOverview">Едитирање</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @*<script src="~/js/site.js"></script>*@
</body>
</html>