<div class="container-fluid">
    <div class="row">
        <div class="col-md customShadow" style="background-color: rgb(107,0,0); height:3px"></div>
        <div class="col-md"></div>
        <div class="col-md-2 customShadow" style="background-color: rgb(107,0,0); height:5px"></div>
        <div class="col-md-1 "></div>
        <div class="col-md-3 customShadow" style="background-color: rgb(107,0,0); height:10px"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4 customShadow" style="background-color: rgb(107,0,0); height:15px"></div>
    </div>
</div>